
.main {
 border-radius: 5px;
 width: 600px;
 height: 600px;
 background: rgb(232, 227, 227);
}


.channelInput {
    width: 50%;
}

.channelList{
    height: 100%;
    background: white;
    overflow-y: auto;
}